<%= form_for(@schoolclass) do |f| %>
  <label>School Class Form </label><br>
  <%= f.text_field :title %><br>

  <label>Post Description</label><br>
  <%= f.text_area :room_number %><br>

  <%= f.submit  %> <h1> Create School class </h1> 
<% end %>
